# Ignore folders we don't want in GitHub
drafts/
old_versions/
lagman79/

# Sensitive files
api.txt

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# Logs
*.log

# Temp files
*.tmp
*.temp
~*

# OS files
.DS_Store
Thumbs.db

invoices_pdf/